.denovo {
  width:150px;
  height:150px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);} 

.plmdds {
  width:160px;
  padding:10px;t
  ext-align:justify;
  margin-top:-113px;
  margin-left:160px;}
