.zerat {
width:120px;
font:14px Gupter;
color:#1D94A6;
text-align:center;} 

.kishan {
width:120px;
height:4px;
background-color:#1D94A6;} 

.sohan {
width:120px;
height:4px;
background-color:#1D94A6;
text-align:center;
font:30px Nova Cut;
color:#1D94A6;} 

.alem {
width:182px;
height:120px;}
