.proce {
width:200px;
height:100px;
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
margin-right:180px;}

.ssion {
width:200px;
height:100px;
clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
margin-top:-100px;
margin-left:180px;}
